body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

label,
input {
  display: block;
}

input {
  margin-bottom: 1rem;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
