.input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background: white;
  width: 15em;
  font-size: 11px;
  height: 30px;
  min-height: 30px;
  padding-left: 10px;
  color: rgb(55, 54, 54);
}

.input:focus {
  transition: 0.5s;
  outline-color: rgb(61, 145, 255);
}

/* rgb(61, 145, 255) */
