@import "./css/colors.css";

.container {
  display: flex;
  flex-direction: row;
}

.inputSide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputSide * {
  margin: 0.1rem 0.5rem;
}

.resultSide * {
  padding: 0;
  margin: 0.5rem 0.5rem;
  max-width: 8rem;
  overflow: hidden;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  margin-right: 1.27rem;
  display: flex;
  flex-direction: row;
}

.senddatabutton {
  background-color: var(--main-color);
  color: rgb(210, 201, 210);
  /* border: none; */
  padding: 0.3rem;
  margin-top: 0.3rem;
  border-radius: 3px;
  font-size: medium;
}
