/* * {
  border: solid, 1px, red;
} */

.buildPage {
  display: flex;
  flex-direction: row;
}

.input {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}
.myInput {
  height: 36px;
}

.row {
  display: flex;
}
label {
  margin-left: 1rem;
  width: 6rem;
}
button {
  margin-left: 0.51rem;
}
.hidden {
  display: none;
}

li {
  margin-left: 1rem;
  height: 38px;
  list-style-type: none;
}

li:last-child {
  height: 76px;
}
