/* * {
  border: solid, 1px, red;
} */

.buildPage {
  display: flex;
  flex-direction: row;
}

.input {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}

.result {
  max-width: 20rem;
  min-width: 20rem;
}

.myInput {
  height: 36px;
}

.row {
  display: flex;
  margin-top: 0.25rem;
}
label {
  margin-left: 1rem;
  width: 6rem;
}
button {
  margin-left: 0.51rem;
}
.hidden {
  display: none;
}

li {
  margin-left: 1rem;
  height: 40px;
  list-style-type: none;
  align-content: center;
  margin-top: 0.25rem;
  overflow: hidden;
}

li:last-child {
  height: 76px;
}

a {
  text-decoration: none;
}

.dataButton {
  align-self: flex-end;
}

.OptCat {
  margin-left: 1rem;
  align-items: center;
}

.OptCat p {
  margin-right: 0.5rem;
  margin-top: 4px;
  padding: 2px;
}

.count {
  margin-top: 0.3rem;
}

.count > label {
  display: inline-block;
}
